/*
  ansicon.rc - Version resource for ansicon.exe.

  Jason Hood, 11 November, 2009.
*/

#include <winver.h>

1 VERSIONINFO
FILEVERSION	1,4,0,0
PRODUCTVERSION	1,4,0,0
FILEOS		VOS_NT
FILETYPE	VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "Comments",         "http://ansicon.adoxa.cjb.net/"
      VALUE "CompanyName",      "Jason Hood"
      VALUE "FileDescription",  "ANSI Console"
      VALUE "FileVersion",      "1.40"
      VALUE "InternalName",     "ansicon"
      VALUE "LegalCopyright",   "Freeware"
      VALUE "OriginalFilename", "ansicon.exe"
      VALUE "ProductName",      "ANSICON"
      VALUE "ProductVersion",   "1.40"
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 0x04B0
  }
}
