/*
  ansi.rc - Version resource for ANSI{32,64}.dll.

  Jason Hood, 11 November, 2009.
*/

#include <winver.h>
#include "version.h"

#ifdef _WIN64
# define BITS "64"
#else
# define BITS "32"
#endif

1 VERSIONINFO
FILEVERSION	PVERB
PRODUCTVERSION	PVERB
FILEOS		VOS_NT
FILETYPE	VFT_DLL
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "Comments",         "http://ansicon.adoxa.cjb.net/"
      VALUE "CompanyName",      "Jason Hood"
      VALUE "FileDescription",  "ANSI Console"
      VALUE "FileVersion",      PVERSA
      VALUE "InternalName",     "ANSI" BITS
      VALUE "LegalCopyright",   "Freeware"
      VALUE "OriginalFilename", "ANSI" BITS ".dll"
      VALUE "ProductName",      "ANSICON"
      VALUE "ProductVersion",   PVERSA
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 0x04B0
  }
}
